<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <entry key="loginToken">MzQzMzkxODQ2MTAzMzg0MDc0.DsnxGw.lH3P-b21sM82WLysLHj9MMqgJ5U</entry>
  <entry key="guildId">511226485340766228</entry>
  <entry key="statusMessage">Hello World!</entry>
</properties>
